<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <!--  <parameter name="loginName" value="dev123">
</parameter>
<parameter name="Password" value="Devattri@12345"></parameter> -->
 <test thread-count="5" name="Test">
		<classes>
		<!--  <class name="Demo_TestNg.TestCase2" />
		<class name="Demo_TestNg.TestCase1" /> -->
		<class name="Demo_TestNg.Demo_Btes">
				<!-- <methods>
				<include name="OpenWebsite"></include>
					 <exclude name="test6"></exclude>
 				</methods>
 -->			</class> 
		</classes>
	</test>
</suite>

<!-- <parameter name="a" value="5"/>  
<parameter name="b" value="3"/>
<test name="Sum">   
  <classes>  
  <class name= "Demo_TestNg.Sum"/>  
  </classes>  
  </test> 
  <test name="Subtract">  
  <classes>  
  <class name="Demo_TestNg.Subtract"/>  
  </classes>  
  </test>  
  <test name="Multiply">  
  <classes>  
  <class name="Demo_TestNg.Multiply"/>  
  </classes>  
  </test>   -->